<!DOCTYPE html>
<html>

<head>
    <title>Map Tech Plus</title>
    <link rel="stylesheet" href='/staticFiles/Main.css' />
</head>

<body class='HomeCard'>
    <div>
        <H1 class="HomeTitle">Find a Location</H1>
        <button onclick="redirectToLocate()" class='button Spacer'>Find here</button>
    </div>
    <div class='RoutingCard'>
        <h1 class='HomeTitle'>Routing part</h1>
        <form action="/submit" method="post" class='Form'>
            <label for="input1">Origine:</label>
            <input type="text" id="input1" name="input1"><br><br>

            <label for="input2">Destination:</label>
            <input type="text" id="input2" name="input2"><br><br>

            <label for="mode">Mode:</label>
            <select id="mode" name="mode" class='Spacer button'>
                <option value="car">Car</option>
                <option value="bike">Bike</option>
                <option value="foot">Foot</option>
            </select><br><br>

            <input type="submit" value="Submit" class='button'>
        </form>
    </div>

    {% if session['map_result'] %}
        <h2>Itinerary</h2>
        <p><strong>Origin:</strong> {{ session['map_result']['origin'][3] }}</p>
        <p><strong>Destination:</strong> {{ session['map_result']['destination'][3] }}</p>
        <p><strong>Distance:</strong> {{ session['map_result']['km'] }} km / {{ session['map_result']['miles'] }} miles</p>
        <p><strong>Time:</strong> {{ session['map_result']['hr'] }} hr {{ session['map_result']['min'] }} min {{
            session['map_result']['sec'] }} sec</p>
    {% endif %}


    <script>
        function redirectToLocate() {
            window.location.href = "/locate";
        }
    </script>
</body>

</html>